<launch>
    <node name="arm_point_planner" pkg="tk_arm" type="arm_point_planner" output="screen">
        <param name="map_filename" value="$(find tk_arm)/map/arm.map" />
    </node>
    <node name="arm_controller" pkg="tk_arm" type="arm_controller" />
    <node name="arm_planner" pkg="tk_arm" type="arm_planner.py" output="screen"/>
</launch>
