<launch>
    <node name="arm_point_planner" pkg="tk_arm" type="arm_point_planner" output="screen">
        <param name="map_filename" value="$(find tk_arm)/map/arm.map" />
    </node>
    <node name="arm_controller" pkg="tk_arm" type="arm_controller" output="screen"/>
    <node name="tinker_arm_move" pkg="tk_arm" type="tinker_arm_move.py" output="screen"/>
</launch>
